*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
#main,#canvas{
    border :2px solid black;
    margin-top: 10px;
}
#canvas{
    border:2px solid black;
    width:60%;
    height: 800px;
    margin:auto;
}
#form-body{
    border:1px solid grey;
    width:300px;
    height:auto;
    margin:auto;
    margin-top:200px;
    border-radius:5px;
    padding: 10px;
}
.headings{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:4px;
    margin:4px;
}
.row{
    display:flex;
    justify-content:space-between;
}
