<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Already Exists</title>
    <style>
        body{
            display:flex;
            justify-content: center;
            height:100vh;
        }
        div{
            align-items: center;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="form-body">
        <p> User already exists!</p>
        <a href="/login">Go to login Page</a>
    </div>
</body>
</html>